<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/jquery-3.5.1.min.js"></script>
    <script>
        $(function(){
            $("#get_code").click(function () {
                $.get({
                    url: "/message/code?phone="+$("#phone").val(),
                    success: function (result) {
                        $("#result_code").html(result.code)
                    }
                })
            })
        })
    </script>
</head>
<body>
<form th:action="@{/message/login}" th:align="center" method="post">
    phone：<input type="text" id="phone" name="phone"><br>
    code ：<input type="text" id="code" name="code"><br>
    <a th:id="get_code">获取短信验证码</a>
    <button th:id="code_login">code login</button>
</form>

<div th:id="result_code" align="center"></div>

</body>
</html>